body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #dce8c6;
  padding: 20px;
}

.sidebar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #CDD9BF;
}

.content {
  padding: 2rem;
}
